body {
    background-color: green;
    font-weight: weight;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
}