<div class="first-page">

    <!--Display welcome message on first page of app includes date, name and title-->
    <h1>Welcome to the {{ title }} </h1>
    <p>A web app by {{ author }}</p>
    <p>Time this page loaded {{timeLoaded}}</p>

    <!-- Link that take to form page-->
    <h2><a href="body-mass-form">To Check Your BMI Click Here</a></h2>

</div>