<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>

    <!-- Link to the external CSS file for styling -->
    <link rel="stylesheet" href="style.css"> <!-- Link to the external CSS -->
</head>

    <!-- Apply the "all-page" class for consistent page-wide styling -->
    <body class="all-page">

    <!-- Main heading for the all page that display -->
    <h1 class="on-all-page">Body Mass Index Calculator</h1>

    <!-- Placeholder using a templating engine like Handlebars -->
    {{{ body }}}

    </body>
</html>