
<!-- Display result, back to home page link and div for style -->
<div class="result">
    <h1>Result</h1>
    <h1>Your body mass index is: {{ bmi }}</h1>
    
    <p><a href="/">Back to home page</a></p>
</div>