<h1>Thank You!</h1>

<h2>Thank you for your feedback, here is the data we recived</h2>

<h3>Name: {{ name }}</h3>
<h3>Email: {{ email }}</h3>
<h3>Comments: {{ comments }}</h3>
<h3>Current Student: {{ currentStudent }}</h3>

<p><a href="/">Back to home page</a></p>